[Unit]
Description=Redis In-Memory Data Store for SWATGenX
After=network.target

[Service]
Type=forking
User=redis
Group=redis
ExecStart=$REDIS_SERVER_PATH $REDIS_CONF_PATH
ExecStop=$REDIS_CLI_PATH shutdown
Restart=always
LimitNOFILE=65536

# Set proper limits to handle heavy load
TimeoutStartSec=30
TimeoutStopSec=30

[Install]
WantedBy=multi-user.target