**/.venv/
**/SWATPlusEditor
**/SWATPlusEditor.bak
**/ssl_certificate
**/books
**/logs
**/camel
**/build
**/books
**/swatplus_installation
**/QSWATPlusLinux3_64
**/NWDC
**/node_modules
**/private_wells
**/MODFLOW-NWT
