{% extends "layout.html" %}

{% block title %}About Us{% endblock %}

{% block content %}
<h2 class="mb-4">About Us</h2>
<div class="card">
    <div class="card-body">
        <p>Welcome to our application! We are dedicated to providing the best tools and resources for managing and analyzing hydrological data.</p>
        <p>Our mission is to help researchers and professionals in the field of hydrology to create accurate and reliable models for water resource management.</p>
        <p>We strive to continuously improve our application by incorporating the latest advancements in technology and feedback from our users.</p>
        <h4>Developer Information</h4>
        <p>This application was developed and is maintained by <a href="https://github.com/VahidMSU" target="_blank">@CIWRE</a>. Visit the GitHub repository for more information about the project and its source code.</p>
    </div>
</div>
{% endblock %}
