{% extends "layout.html" %}

{% block title %}Model Settings{% endblock %}

{% block content %}
<!doctype html>
<html>
<head>
	<title>Michigan Models</title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
	<style>
		.image-container {
			display: flex;
			flex-wrap: wrap;
			justify-content: center;
		}
		.image-item {
			margin: 10px;
			border: 1px solid #ccc;
			padding: 10px;
			border-radius: 10px;
			background-color: #f9f9f9;
			box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
		}
		.image-item img {
			max-width: 100%;
			height: auto;
			border-radius: 10px;
		}
		.image-item h4 {
			text-align: center;
			margin-top: 10px;
		}
	</style>
</head>
<body>
	<div class="container">
		<h2 class="mb-4">Michigan Models</h2>
		<div class="image-container">
			<div class="image-item">
				<img src="{{ url_for('static', filename='images/Map_Average_Performance_SWAT_gwflow_MODEL.jpeg') }}" alt="SWAT gwflow MODEL Performance">
				<h4>SWAT gwflow MODEL Performance</h4>
			</div>
			<div class="image-item">
				<img src="{{ url_for('static', filename='images/Map_Average_Performance_SWAT_MODEL.jpeg') }}" alt="SWAT MODEL Performance">
				<h4>SWAT MODEL Performance</h4>
			</div>
			<div class="image-item">
				<img src="{{ url_for('static', filename='images/models_boundary_huc12_huc8.jpeg') }}" alt="Model Boundaries for HUC12 and HUC8 Models">
				<h4>Model Boundaries for HUC12 and HUC8 Models</h4>
			</div>
			<div class="image-item">
				<img src="{{ url_for('static', filename='images/SWATplus_hrus_area.jpeg') }}" alt="SWATplus HRUs Area">
				<h4>SWATplus HRUs Area</h4>
			</div>
			<div class="image-item">
				<img src="{{ url_for('static', filename='images/landuse_models_distribution.jpeg') }}" alt="Land Use Models Distribution">
				<h4>Land Use Models Distribution</h4>
			</div>
		</div>
	</div>
</body>
</html>
{% endblock %}
